---
title: Step 1 - Select router brand
permalink: /setup/select-brand/
layout: setup
---
<script>
  $('h2').html('Step 1. Select Router Brand')
  $('.normalheader li:nth-child(1)').addClass("text-success")
</script>
    <a class="list-group-item active" href="" style="margin-bottom:20px">
       <h5 class="list-group-item-heading">Select the brand of your router on which you intend to install Griggi</h5>
    </a>
{% for brand in site.data.router.brands %}
 {% assign loopindex = forloop.index | modulo: 2 %}
   {% if loopindex == 1 %}
   <div class="row">
   {% endif %}
    <div class="col-md-6">
      <a href="{% if brand.url %}{{brand.url}}{% else %}/setup/select-router/?brand={{brand.name | replace:' ','-'}}{% endif %}">
       <div class="hpanel">
           <div class="panel-body text-center">
              <img alt="logo" src="/images/setup/{{brand.name|replace: ' ','-'}}.jpg">
               <div class="m-t-sm">
                   <strong><span class="text-success">{{brand.name}}</span></strong>
                   <button class="btn btn-success btn-sm">Select</button>
               </div>
           </div>
       </div>
       </a>
    </div>
  {% if loopindex == 0 or forloop.last %}
   </div><!-- row -->
  {% endif %}
{% endfor %}
